h1 {
  background-color: #f67f72;
}

ul {
  list-style-type: none;
}

img {
  max-height: 200px;
}

.btn-mustard {
  background-color: #fac126;
}

.btn-ketchup {
  background-color: #f67f72;
}

body {
  background-image: url(../img/burger.png);
  text-align: center;
}